/**
 * Author: Gerald Addo-Tetteh
 * Ashesi Final Year Capstone
 * AHSM Client - app-grid.tsx
*/
.main {
  display: grid;
  grid-template-columns: minmax(6rem, max-content) minmax(min-content, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  height: calc(100vh - 3rem);

  &__content {
    overflow: auto;
    background-color: $color-navy;
  }
}
