.dashboard {
  &-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-template-rows: repeat(7, 1fr);
  }
  &__header {
    grid-row: 1 / 3;
    grid-column: 1 / -1;
    background-color: orangered;
  }
  &__analysis {
    background-color: teal;
    grid-column: 1 / -1;
    grid-row: 3 / 6;
  }
  &__notification {
    background-color: chocolate;
    grid-column: 1 / -1;
    grid-row: 6 / 8;
  }
}
