/**
 * Author: Gerald Addo-Tetteh
 * Ashesi Final Year Capstone
 * AHSM Client - main.scss
*/
/**
 * Author: Gerald Addo-Tetteh
 * Ashesi Final Year Capstone
 * AHSM Client - variables.scss
*/
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  html:focus-within {
    scroll-behavior: smooth; }

ul[role="list"] {
  list-style: none; }

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.6rem;
  padding: 1.5rem;
  background-color: #191919;
  font-family: "Inconsolata", monospace; }

img {
  display: block;
  max-width: 100%; }

input,
button,
select {
  font: inherit; }

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/**
 * Author: Gerald Addo-Tetteh
 * Ashesi Final Year Capstone
 * AHSM Client - utils.scss
*/
/**
 * Author: Gerald Addo-Tetteh
 * Ashesi Final Year Capstone
 * AHSM Client - app-grid.tsx
*/
.main {
  display: grid;
  grid-template-columns: min-content minmax(min-content, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  height: calc(100vh - 3rem); }
  .main__content {
    overflow: scroll;
    background-color: #2d4263; }

/**
 * Author: Gerald Addo-Tetteh
 * Ashesi Final Year Capstone
 * AHSM Client - sidebar.tsx
*/
.sidebar {
  overflow: hidden;
  background-color: #ecdbba;
  padding: 1rem; }
  .sidebar__icon {
    max-width: 5rem;
    width: 100%; }
