/**
 * Author: Gerald Addo-Tetteh
 * Ashesi Final Year Capstone
 * AHSM Client - variables.scss
*/

// colors
$color-black: #191919;
$color-navy: #2d4263;
$color-red: #c84b31;
$color-beige: #ecdbba;

//padding
$padding-body: 1.5rem;

//font
$font-inconsolata: "Inconsolata", monospace;
