/**
 * Author: Gerald Addo-Tetteh
 * Ashesi Final Year Capstone
 * AHSM Client - dashboard.scss
*/

.dashboard {
  padding-inline: 1.5rem;

  &__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    align-items: center;
    color: $color-white;
    padding: 1rem 0rem;
    line-height: 1;

    &__tile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: lighten($color-black, 5);
      color: $color-white;
      min-height: 100%;

      padding: 1rem 2rem;
      border-radius: $border-radius-small;
      &__text {
        margin-right: 3rem;
      }
      &__value {
        font-size: 5rem;
        font-weight: 500;
        color: $color-red;
      }
    }
  }
  &__analysis {
    color: $color-white;

    &__chart {
      background-color: $color-black;
      border-radius: $border-radius-small;
      padding-inline: 2rem;
    }
    // &__pie-chart {
    // }
    &__heading-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 1rem;
    }
    &__heading {
      font-size: 3rem;
      font-weight: 500;
    }
    &__tabs {
      margin-right: 1rem;
    }
    &__tab {
      padding: 1rem 2.5rem;
      border-radius: $border-radius-small;
      cursor: pointer;
      background-color: $color-navy;
      font-weight: 800;
      color: $color-white;
      outline: 1px solid transparent;
      outline-offset: 3px;

      &:first-of-type {
        margin-right: 2rem;
      }
      &:hover {
        background-color: darken($color: $color-beige, $amount: 5);
        color: $color-red;
      }
    }
    &__active {
      outline: 1px solid $color-beige;
      background-color: $color-red;
      color: $color-white;
    }
  }
  &__notification {
    margin-bottom: 2rem;
    &-panel {
      margin-top: 3rem;
      max-width: 700px;
      width: 100%;
      text-align: center;
      margin-inline: auto;
      background-color: $color-black;
      color: $color-white;
      border-collapse: collapse;
      border-radius: $border-radius-small;

      & th {
        background-color: $color-red;
        padding: 1rem 3rem;

        &:first-of-type {
          border-radius: $border-radius-small 0 0 0;
        }
        &:last-of-type {
          border-radius: 0 $border-radius-small 0 0;
        }
      }

      &__row {
        border: none;
        & td {
          padding: 1rem;
        }
        &:nth-of-type(even) {
          background-color: $color-dark-grey;
        }
      }
    }
  }
}
