/**
 * Author: Gerald Addo-Tetteh
 * Ashesi Final Year Capstone
 * AHSM Client - dashboard.scss
*/

.dashboard {
  padding-inline: 1.5rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-white;
    background-color: $color-red;
    border-radius: $border-radius-small;
    padding: 1rem 2rem;
    line-height: 1;

    &__text-box {
      margin-right: 2rem;
    }
    &__heading {
      font-size: 5rem;
      font-weight: 600;
    }
    &__image {
      font-size: 8rem;
    }
  }
  &__analysis {
    color: $color-white;
    &__chart {
      background-color: $color-black;
      border-radius: $border-radius-small;
      padding-inline: 2rem;
    }
    &__level {
      border-radius: $border-radius-small;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__percentage {
        color: $color-red;
        text-align: center;
        font-size: 8rem;
      }
      &__container {
        flex-grow: 1;
        margin-inline: 2rem;
        margin-bottom: 2rem;
        border: 10px solid $color-black;
        border-top: none;
        background-color: transparent;
        position: relative;
        overflow: hidden;

        &::before {
          content: "";
          position: absolute;
          background-color: blue;
          height: 100%;
          width: 100%;
          @include absCenter;
          transition: all 0.3s;
        }
      }
    }
    &__heading-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 1rem;
    }
    &__heading {
      font-size: 3rem;
      font-weight: 500;
    }
    &__tabs {
      margin-right: 1rem;
    }
    &__tab {
      padding: 1rem 2.5rem;
      border-radius: $border-radius-small;
      cursor: pointer;
      background-color: $color-navy;
      font-weight: 800;
      color: $color-white;
      outline: 1px solid transparent;
      outline-offset: 3px;

      &:first-of-type {
        margin-right: 2rem;
      }
      &:hover {
        background-color: darken($color: $color-beige, $amount: 5);
        color: $color-red;
      }
    }
    &__active {
      outline: 1px solid $color-beige;
      background-color: $color-red;
      color: $color-white;
    }
  }
}
