@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  &:focus-within {
    scroll-behavior: smooth;
  }
}

ul[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.6rem;
  padding: $padding-body;
  background-color: $color-black;
  font-family: $font-inconsolata;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
select {
  font: inherit;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: $color-black;
}
button {
  border: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
